<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/createAnnonce.css"> <!-- Lien vers le fichier CSS -->

    <title>Créer une Annonce</title>

</head>
<body>
    <div class="form-container">
        <h1>Créer une Nouvelle Annonce</h1>
        <form action="/annonces" method="POST" enctype="multipart/form-data">
            <label for="titre">Titre:</label>
            <input type="text" name="titre" required>

            <label for="prix">Prix:</label>
            <input type="number" name="prix" required>

            <label for="description">Description:</label>
            <textarea name="description" required></textarea>

            <label for="surface">Surface (m²):</label>
            <input type="number" name="surface" required>

            <label for="localisation.ville">Ville:</label>
            <input type="text" name="localisation.ville" required>

            <label for="localisation.codePostal">Code Postal:</label> <!-- Ajout du champ code postal -->
            <input type="text" name="localisation.codePostal" required>

            <h2>Caractéristiques</h2>
            <label for="caracteristiques.chambre">Chambres:</label>
            <input type="number" name="caracteristiques.chambre" required>

            <label for="caracteristiques.salleDeBain">Salles de bain:</label>
            <input type="number" name="caracteristiques.salleDeBain" required>

            <label for="caracteristiques.balcon">Balcon:</label>
            <select name="caracteristiques.balcon" required>
                <option value="">Sélectionnez</option>
                <option value="oui">Oui</option>
                <option value="non">Non</option>
            </select>

            <label for="caracteristiques.jardin">Jardin:</label>
            <select name="caracteristiques.jardin" required>
                <option value="">Sélectionnez</option>
                <option value="oui">Oui</option>
                <option value="non">Non</option>
            </select>

            <label for="caracteristiques.parking">Parking:</label>
            <select name="caracteristiques.parking" required>
                <option value="">Sélectionnez</option>
                <option value="oui">Oui</option>
                <option value="non">Non</option>
            </select>

            <label for="image">Image:</label>
            <input type="file" name="image" accept="image/*" required>
            <button class="space" type="submit">Créer l'annonce</button>
        </form>
        <a href="/annonces">Retour à la liste des annonces</a>
    </div>
</body>
</html>
