<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/index.css"> <!-- Lien vers le fichier CSS -->
    <title>Liste des Annonces</title>

</head>
<body>

    <!-- Header fixe avec les boutons login et register -->
<header>
    <div class="logo">Agence Imobilieres</div>
    <div class="auth-buttons">
        {{#username}} <!-- Vérifie si le nom d'utilisateur est défini -->
            <span>Salut, {{username}}!</span>
            <a href="/auth/logout" class="logout-button">Déconnexion</a>
        {{/username}}
        {{^username}} <!-- Si aucun nom d'utilisateur n'est défini -->
            <a href="/auth/login" class="login-button">Connexion</a>
            <a href="/auth/register" class="register-button">Inscription</a>
        {{/username}}
    </div>
</header>


    <h1>Liste des Annonces</h1>

    <!-- Bouton pour créer une nouvelle annonce -->
    <a id="create-annonce-button" href="/annonces/new">Créer une nouvelle annonce</a>

    <div id="annonces-container">
        {{#annonces}}
        <div class="annonce">
            <img src="{{image}}" alt="{{titre}}">
            <h2>{{titre}}</h2>
            <p><strong>Prix:</strong> {{prix}} €</p>
            <p><strong>Ville:</strong> {{localisation.ville}}</p>
            <p><strong>Description:</strong> {{description}}</p>
            <p><strong>Surface:</strong> {{surface}} m²</p>
            <p><strong>Chambres:</strong> {{caracteristiques.chambre}}</p>
            <p><strong>Salles de bain:</strong> {{caracteristiques.salleDeBain}}</p>
            <p><strong>Balcon:</strong> {{caracteristiques.balcon}}</p>
            <p><strong>Jardin:</strong> {{caracteristiques.jardin}}</p>
            <p><strong>Parking:</strong> {{caracteristiques.parking}}</p>
            <div class="button-container">
                <a href="/annonces/{{id}}/edit">
                    <button class="modify-button">Modifier</button>
                </a>
                <form action="/annonces/{{id}}/delete" method="POST" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette annonce ?');">
                    <button type="submit" class="delete-button">Supprimer</button>
                </form>
            </div>
        </div>
        {{/annonces}}

        {{^annonces}}
        <p>Aucune annonce disponible pour le moment.</p>
        {{/annonces}}
    </div>
</body>
</html>
